.yuki {
    h2 {
        margin: 0;
    }
    p {
        margin: 0;
        color: var(--nickel);
    }
}

button {
    
    i {
        font-size: 40px;
    }
}

.videos-populares h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 10px;

    @media only screen and (max-width:546px) {
        text-align: center;
    }
}
